@font-face {
    font-family: 'Audi Type Screen Light';
    src: url('./AudiType/AudiTypeScreen-Light.eot');
    src: url('./AudiType/AudiTypeScreen-Light.eot?#iefix') format('embedded-opentype'),
    url('./AudiType/AudiTypeScreen-Light.woff') format('woff'),
    url('./AudiType/AudiTypeScreen-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen Normal';
    src: url('./AudiType/AudiTypeScreen-Normal.eot');
    src: url('./AudiType/AudiTypeScreen-Normal.eot?#iefix') format('embedded-opentype'),
    url('./AudiType/AudiTypeScreen-Normal.woff') format('woff'),
    url('./AudiType/AudiTypeScreen-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen Bold';
    src: url('./AudiType/AudiTypeScreen-Bold.eot');
    src: url('./AudiType/AudiTypeScreen-Bold.eot?#iefix') format('embedded-opentype'),
    url('./AudiType/AudiTypeScreen-Bold.woff') format('woff'),
    url('./AudiType/AudiTypeScreen-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3vw 0;
}

.contact {
    width: 35.94vw;
    padding: 0 3vw 0 6.5vw;
}

.contact .contactInput {
    width: 80%;
}

.contactInfo {
    font-size: 1.15vw;
    line-height: 1.8vw;
    color: #151515;
    font-family: 'Audi Type Screen Light', sans-serif;
    font-weight: 300;
    margin-bottom: 2.5vw;
}

.contactTitle {
    font-size: 0.85vw;
    text-transform: uppercase;
}

.contact_p {
    margin-bottom: 1vw;
}

.contactInput {
    display: block;
    height: 3.1vw;
    border-radius: 30px;
    -webkit-box-shadow: 0.5px 0.866px 0px rgba(3,47,135,0.1);
            box-shadow: 0.5px 0.866px 0px rgba(3,47,135,0.1);
    background-color: #f3f6fc;
    font-size: 0.85vw;
    line-height: 2vw;
    color: #454545;
    font-family: 'Audi Type Screen Light', sans-serif;
    font-weight: 300;
    padding: 0 5%;
    border: none;
    margin-bottom: 1.3vw;
}

.inputWidth {
    width: 90%;
}

.radioLabel {
    line-height: 48px;
    color: #454545;
    font-family: 'Audi Type Screen Light', sans-serif;
    font-weight: 300;
    margin-right: 2vw;
}

.radio {
    width: 0.85vw;
}

.contactSubmit {
    width: 12.5vw;
    height: 3vw;
    border-radius: 30px;
    background-color: #151515;
    font-size: 0.73vw;
    line-height: 1.5vw;
    color: #ffffff;
    font-family: 'Audi Type Screen Normal', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2.6vw;
    display: block;
}

.requestForm {
    background-image: url("./images/Layer4.png"), url("./images/Layer3.png"); 
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 5.5vw 14.5vw 5.5vw 4.25vw;
    font-size: 0.83vw;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Audi Type Screen Light';
    font-weight: 300;
}

.requestTitle {
    font-size: 1.85vw;
    line-height: 3vw;
    color: #ffffff;
    font-family: 'Audi Type Screen Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2.5vw;
}

.requestFields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.inputHalf {
    width: 44%;
    display: inline-block;
}

.inputPrice {
    width: 34%;
}

.inputQuarter {
    width: 22%;
}

.requestColumn {
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.requestSpan {
    color: white;
    font-size: 2vw;
}

.noneBorder {
    border: none;
}

@media (max-width: 1300px) {
    .banner_div {
        margin: 19vw 3.91vw 3.91vw 3.78vw;
    }

    .auto_block {
        width: 58.6vw;
        top: 8vw;
        left: 19.8vw;
    }

    .container {
        margin: 23vw 7.5vw 8vw 7.5vw;
    }

    .model {
        text-align: center;
        margin-bottom: 8vw;
    }

    .model_title {
        font-size: 7.8vw;
        line-height: 2vw;
        margin-bottom: 1.5vw;
    }

    .model_type {
        font-size: 2.8vw;
        line-height: 3.7vw;
        width: 20vw;
        margin-left: 4vw;
    }

    .leaseDeals {
        margin-bottom: 4vw;
        padding-bottom: 4vw;
    }

    .note {
        font-size: 2vw;
        line-height: 2.5vw;
    }

    .amount {
        font-size: 2vw;
        line-height: 7vw;
    }

    .dollars {
        font-size: 6vw;
    }

    .description {
        font-size: 1.55vw;
    }

    .forms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 6vw;
        padding-bottom: 0;
    }

    .contact {
        width: auto;
        padding: 0 3.91vw 10vw 3.91vw;
    }

    .contactTitle {
        font-size: 3.5vw;
        line-height: 3.5vw;
    }

    .contactInfo {
        font-size: 1.71vw;
        line-height: 3.5vw;
        margin-bottom: 4.5vw;
    }

    .contact_p {
        margin-bottom: 2vw;
    }

    .contact .contactInput {
        width: 90%;
    }

    .contactInput {
        height: 7.8vw;
        font-size: 2.1vw;
        margin-bottom: 2.3vw;
    }

    .contactSubmit {
        width: 31.25vw;
        height: 7.8vw;
        font-size: 2.1vw;
        margin-top: 4vw;
    }

    .requestTitle {
        font-size: 3.5vw;
        line-height: 7.5vw;
        margin-bottom: 6vw;
    }

    .requestForm {
        padding: 10vw 3.91vw;
        font-size: 2.1vw;
    }

    .requestFields, .requestColumn {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .requestSpan {
        display: none;
    }

    .requestFields, .contactInput, .requestColumn {
        width: 100%;
    }

    .inputWidth {
        padding-top: 2.5%;
        padding-bottom: 2%;
        height: 100%;
    }
    
    .request_p {
        margin-top: 5vw;
        line-height: 4vw;
    }

    .inputPrice, .inputWidth {
        width: 90%;
    }
}

@media (max-width: 720px) {
    .banner_div {
        margin: 19vw 4.17vw 4.17vw 4.17vw;
    }

    .container {
        margin: 36vw 4.17vw 8vw 4.17vw;
    }

    .auto_block {
        width: 78.13vw;
        top: 11vw;
        left: 11vw;
    }

    .shadowWheel1 {
        bottom: 6%;
        left: 1.5%;
    }

    .shadowWheel2 {
        bottom: 0%;
        left: 35%;
    }

    .shadowWheel3 {
        bottom: 19%;
        left: 47%;
    }

    .shadowWheel4 {
        position: absolute;
        bottom: 14%;
        left: 75%;
    }

    .model {
        text-align: left;
    }

    .model_title {
        font-size: 10vw;
    }

    .model_type {
        font-size: 2.8vw;
        line-height: 5vw;
    }

    .leaseDeals {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    .leaseDealItem {
        width: 100%;
        margin-bottom: 10vw;
    }

    .note {
        font-size: 2.7vw;
        line-height: 5.5vw;
    }

    .amount {
        font-size: 3vw;
        line-height: 10vw;
    }

    .dollars {
        font-size: 11vw;
    }

    .description {
        font-size: 2.55vw;
        line-height: 3.5vw;
    }

    .contact {
        width: auto;
        padding: 10vw 4.17vw; 
    }

    .contactTitle {
        font-size: 16px;
    }

    .contactInfo {
        font-size: 16px;
        line-height: 20px;
    }

    .contact .contactInput, .contactSubmit {
        width: 90%;
        height: 7vw;
        border-radius: 25px;
        font-size: 14px;
        line-height: 48px;
    }

    .contactSubmit {
        width: 50%;
        margin-top: 7vw;
        height: 50px;
    }

    .requestForm {
        padding: 16vw 4.17vw; 
        font-size: 2.1vw;
    }

    .requestColumn {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .requestColumn .contactInput {
        width: 45%;
    }

    .requestSpan {
        display: inline;
        font-size: 16px;
    }

    .request_p {
        font-size: 14px;
    }

    .requestTitle {
        font-size: 24px;
        line-height: 40px;
    }

    .textarea {
        height: auto;
    }
}